.on-hover{
    opacity:1;
    transition: opacity 400ms ease-in-out;
    z-index: 10;

}
/*.on-hover:hover{*/
/*    opacity: 0;*/
/*    transition: opacity 400ms ease-in-out;*/
/*}*/

.on-hover:nth-child(1){
    /*animation-delay: 1s;*/
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

.on-hover:nth-child(2){
    /*animation-delay: 1s;*/
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}
.on-hover:hover:nth-child(1){
    /*animation-delay: 1s;*/
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}


/*div>.music{*/
/*    opacity: 0;*/
/*    transition: scale 200ms ease-in-out;*/
/*    !*transition-delay: 200ms;*!*/
/*    z-index: 0;*/
/*}*/
/*div:hover>.music{*/
/*    opacity: 1;*/
/*    !*scale: 1;*!*/
/*    transition: opacity 300ms ease-in-out;*/
/*    z-index: 10;*/
/*    !*transition-delay: 300ms;*!*/
/*}*/