/* Scroller styling */
.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 10em;
}
/*.scroller > span {*/
/*    animation: slide 5s infinite;*/
/*    transition-duration: 1.2s;*/
/*    transition-timing-function: cubic-bezier(0.2, 0.6, 0.35, 1);*/
/*    transition-delay: 0s;*/
/*    transition-property: all;*/

/*}*/
@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -1.4em;
    }
    50% {
        top: -2.6em;
    }
    75% {
        top: -3.8em;
    }
}