.mouse-hover{
    position: fixed;
    top: -15vh;
    left: -15vh;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    opacity: 1;
    background: radial-gradient(circle,hsla(0,0%,100%,.5) 0,hsla(0,0%,100%,.1) 25%,hsla(0,0%,100%,0) 70%);
    transition-property: opacity, transform;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.64, 0.04, 0.35, 1);
    transition-delay: 0s;
    z-index: 5;
    display: block
}